<div class="modal" ui-if="areYouDoneModal" ui-state='areYouDoneModal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ui-turn-off="areYouDoneModal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Are you done?</h4>
      </div>
      <div class="modal-body">
        
        <h3>You haven't finished all your pulls. Do you wish to be done anyways?</h3>

        <button class="btn btn-primary" ng-click="areYouDone(true)">Yes</button>
        <button class="btn btn-primary pull-right" ng-click="areYouDone(false)">No</button>

      </div>
      <div class="modal-footer">
        <button ui-turn-off="areYouDoneModal" class="btn btn-default">Close</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-body -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->