<div class="scrollable">
  <h1 class="scrollable-header app-name">Pitchers List <a href="/pitcher/add" class="btn btn-primary pull-right" style="margin-top: 18px;"><i class="fa fa-plus"></i></a></h1>
  <div class="scrollable-content" ng-controller="pitchersController">
    <div class="list-group" ui-toggle="uiSidebarRight">
      <a class="list-group-item" href="" ng-repeat="p in pitchers" ng-click="choosePitcher(p)">{{p.name}} <i class="fa fa-user pull-left" style="line-height: 1.4"></i></a>
    </div><!-- /.scrollable-content -->
  </div><!-- /.scrollable-header -->
</div><!-- /.scrollable -->